body {
	font-family: sans-serif;
	font-weight: 700;
	background-color: rgb(255, 255, 255);
}

	form div {
	margin: 12px;
}

	form button {
	margin-top: 10px;
	font-weight: 700;
	padding: 10px 20px;
	font-size: large;
}